@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .custom-rounded {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
  }

  .hover-text {
    @apply text-main hover:text-white transition duration-200 ease-out cursor-pointer;
  }
  .hover-text-white {
    @apply text-white hover:text-main transition duration-200 ease-out cursor-pointer;
  }
  .hover-bg {
    @apply hover:bg-main transition duration-300 ease-in-out;
  }
  .hover-btn {
    @apply bg-main hover:bg-second hover:text-white transition duration-300 ease-in-out;
  }

  .dual-bg-image {
    background-image: url("/hero.png"), url("/hero-bg.png");
    background-attachment: fixed;
    background-size: 500px;
    background-position: right top;
    background-repeat: no-repeat;
  }

  .custom-bg {
    position: absolute;
    right: 30px;
    top: -100px;
    height: 650px;
    width: 650px;
    background-image: url("/hero.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 320px;

    z-index: -1;
  }

  @media screen and (min-width: 768px) {
    .custom-bg {
      top: -50px;
      right: 0;
      background-size: 380px;
      background-position: right;
    }
  }

  @media screen and (min-width: 1280px) {
    .custom-bg {
      top: 0;
      background-size: 600px;
      background-position: left;
    }
  }
}

@layer base {
  html {
    /* font-family: Proxima Nova, system-ui, sans-serif; */
    @apply font-sans;
  }

  body {
    @apply font-sans;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
li,
input,
p {
  font-family: cursive;
  /* font-family: "Poppins", sans-serif; */
}

body {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
